[submodule "dependencies/tako"]
	path = dependencies/tako
	url = https://github.com/KevinBalz/tako
[submodule "dependencies/parson"]
	path = dependencies/parson
	url = https://github.com/kgabis/parson.git
